<app-header />


<main>
    <ul id="users">
        @for (user of users; track user.id){
        <!-- <li *ngFor="let user of users"> // older version of angular
            <app-user [user]="user" (select)="onSelectUser($event)" />
        </li> -->
        <li>
            <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
        </li>
        }

    </ul>

    @if(selectedUser) {
    <app-task [userId]="selectedUser.id"  [name]="selectedUser.name" />
    <!-- <app-task *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" /> -->
    } @else {
        <p id="fallback">Select a user to see their Tasks!</p>
    <!-- <ng-template #fallback>
        <p id="fallback">Select a user to see their Tasks!</p>
    </ng-template> -->
    }

</main>